.container {
    background: url('../../imgs/bg-bons-drinks.jpg') no-repeat;
    height: 100vh;
}

.section {
    display: grid;
    justify-content: center;
    text-align: center;
}

.text {
    background-color: white;
    width: 40vw;
    animation: 10s ease-in-out;
    animation-duration: 3s;
    animation-name: slidein;
}

@keyframes slidein {
    from {
      margin-right: 100%;
      width: 300%
    }
  
    to {
      margin-right: 0%;
      width: 100%;
    }
  }