.container {
    background: url('../../imgs/bg-bons-drinks.jpg') no-repeat;
    height: 100vh;
}

.section {
    display: grid;
    justify-content: center;
    text-align: center;
}

.text {
    background-color: white;
    width: 40vw;
}